.logo {
    height: 10%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.block {
    display: block;
}

h1 {
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.quizIntro {
    text-align: center;
}

body {
    background: url('https://wallpaperplay.com/walls/full/9/0/a/77836.jpg') fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (min-width: 640px) {}

@media only screen and (min-width: 320px) {}

@media only screen and (min-width: 1190px) {}