.logo {
    height: 10%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.block {
    display: block;
}

.quizIntro {
    text-align: center;
}

.stats {
    font-size: 18px;
}

.body {
    background-image: url('https://fbcoverstreet.com/content/4crUTR9RIVqFSh8lKsXwIUNu6jbanGsx42lTS1268qQecoWhrrAraXEiP7XsyimC.jpg');
}